// Page Footer
footer.main-footer
  .container-fluid
    .row
      .col-sm-6
        p © Copyright - boslott.online 2018
      .col-sm-6.text-right
        p 
          a.external(href='https://bootstrapious.com/admin-templates') Theme
        // Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)