// Javascript files
script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='/vendor/popper.js/umd/popper.min.js')
script(src='/vendor/bootstrap/js/bootstrap.min.js')
script(src='/vendor/jquery.cookie/jquery.cookie.js')
script(src='/vendor/chart.js/Chart.min.js')
script(src='/vendor/jquery-validation/jquery.validate.min.js')
script(src='/javascripts/adminJS/charts-home.js')
// Main File
script(src='/javascripts/adminJS/front.js')
// My JS
script(src='/javascripts/modules/admin.js')
// Summernote
script(src='/summernote/summernote-bs4.js')