
//- 
//- JavaScripts
//- =============================================
script(src='/lib/jquery/dist/jquery.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(src='/lib/typed.js/dist/typed.min.js')
script(src="/lib/semantic-ui-dropdown/dropdown.js")
script(src="/lib/semantic-ui-transition/transition.js")
script(src='/lib/isotope/dist/isotope.pkgd.js')
script(src='/dist/App.bundle.js')
script(src='/javascripts/poshJS/core.js')
script(src='/javascripts/poshJS/main.js') 