
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //- 
  //- Document Title
  //- =============================================
  title #{title} | Bo Slott Online - Full Stack Web Developer
  link(rel="icon" type="image/png" href="/images/siteImages/bso-logo.png")
  
  meta(name='msapplication-TileColor' content='#ffffff')
  //- meta(name='msapplication-TileImage' content='/images/poshImages/favicons/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  //- 
  //- Stylesheets
  //- =============================================
  //- Default stylesheets

  link(href='/dist/style.css' rel='stylesheet')


  link(href='/lib/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
  //- Template specific stylesheets
  link(href='https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400i' rel='stylesheet')
  //- link(href='/lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='/lib/iconsmind/iconsmind.css' rel='stylesheet')
  link(href='/lib/css-hamburgers/dist/hamburgers.css' rel='stylesheet')
  link(href='/lib/semantic-ui-transition/transition.css' rel='stylesheet')
  link(href='/lib/semantic-ui-dropdown/dropdown.css' rel='stylesheet')
  //- Main stylesheet and color file
  link(href='/css/poshCSS/style.css' rel='stylesheet')
  link(href='/css/poshCSS/custom.css' rel='stylesheet')
  script(src='/images/fontAwesome/fontawesome-all.min.js')