extends layout

block content
  section.p-0.color-white.font-1
    .background-holder.overlay.overlay-2(style="background-image:url(/images/siteImages/bo-thoughts.JPG);")  
    // /.background-holder
    .container.py-5
      .row.h-half.align-items-center.py-5.justify-content-end
        .col-md-8.col-lg-5
          h1.fs-3.fs-md-4.mb-3 About Bo
          p.lead.fs-xs-1 Full Stack Web Developer | Family Man, Pool Guy, Lover of Code
      // /.row
    // /.container
  section.font-1
    .container
      .row
        .col-lg-2.hidden-md-down
          .perpendicular
            h2.color-9.fs-6.text-uppercase.lh-0(style="transform: translateY(36px);") My Story
        .col-12.hidden-lg-up
          h2.mb-5 My Story
        .col-lg-6
          h5.mb-4 — Story Behind Bo
          p.lead.mb-5.color-5
            | Though swimming, pools, and chlorine have been a passion of mine for many, many moons, web development is just as awesome to me. I may not have been around as long as others, but I work hard, strive to always be learning, and aim to produce the best products as possible.
            br
            br
            | I am a husband, a father, a web developer and I love every bit of it all!
            
          h5.mb-4 — Mission & Vision
          p.color-5.mb-lg-0.mb-5.lead
            | My mission is to produce the best products as possible, in the most efficient and timely manner as possible, utilizing the best technologies for the project, and always striving to learn new and better ways.
            br
            br
            | My vision is of us working together as a team in the creation of great things to help you and to help others.
        .col-lg-4.pl-lg-5
          h5.mb-0 — Started in
          .fs-5.fw-100.mb-5 2017
          h5.mb-3 — Office in
          p.fs-3.color-7.lh-1.mb-5.fw-300 North Carolina, USA
          h5.mb-3 — Services
          p.lead.color-5 Front-End and Back-End Development, Membership Sites, Personal Sites, and Commercial Sites 
      // /.row
    // /.container
  section.text-center.background-11.font-1
    .container
      .row.justify-content-center
        .col-lg-8
          h3.color-1.mb-4 Meet the Team
          p.color-4.lead
            | No matter what you need built, updated, or created - our team of experts is on top it
          hr.short.mb-8.color-8.mt-4
      .row
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/bo-profile.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1() Bo Slott
          .fs--1.text-uppercase.color-6 Developer
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/davis.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") Mr. D
          .fs--1.text-uppercase.color-6 Director of Fun
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/heather.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") H Bomb
          .fs--1.text-uppercase.color-6 The Boss
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/bo-admin-profile-pic.jpg')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") Bubbles
          .fs--1.text-uppercase.color-6 Director of Nautical Affairs
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/fletch.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") Bones
          .fs--1.text-uppercase.color-6 DevOps
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/bearded-bo.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") That Guy?
          .fs--1.text-uppercase.color-6 VP of Awesomeness
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/f2.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") Bubs
          .fs--1.text-uppercase.color-6 Director of Safety
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/d2.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") Big Time
          .fs--1.text-uppercase.color-6 VP of Health & Nutrition
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/bo-electrician.jpg')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") Cousin
          .fs--1.text-uppercase.color-6 Electrical
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/bo-goofy.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") Bobo
          .fs--1.text-uppercase.color-6 VP of Marketing
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/bo-knows.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") Knows
          .fs--1.text-uppercase.color-6 VP of Finance
        .col-sm-6.col-md-4.col-lg-3.p-4
          img.radius-round.px-5(src='/images/siteImages/bo-mug.JPG')
          h5.fs-0.mt-3.mb-1
            a.color-1(href="#") Jackson
          .fs--1.text-uppercase.color-6 Position: Unknown
      // /.row
    // /.container


      //- Latest news section to be hooked up when blog posts are more plentiful
  //- section.font-1
  //-   .container
  //-     .row
  //-       .col-md-12.text-center
  //-         h3 Latest News
  //-         p.color-5.lead The latest news, thoughts and updates from the team.
  //-         hr.short.color-8.mb-7.mt-4
  //-     .card-deck
  //-       .card.mb-5.mb-md-0
  //-         a.overflow-hidden(href="#")
  //-           img.card-img-top(src="assets/images/careers-1.jpg" alt="Card image cap")
  //-         .card-block
  //-           a.color-1(href="#")
  //-             h5.card-title Career Monogamy: The Awkward Tech Sin of
  //-           p.card-text.color-4.fw-300.font-1
  //-             | Posh is the Best Template in the market you can find. Built with Bootstrap 4 and all other state of the earth cutting edge frontend technologies.
  //-         .card-footer.background-transparent.border-top-0
  //-           .media.align-items-center
  //-             img.d-flex.mr-3.rounded-circle(src="assets/images/portraits/square/02.jpg" alt="Generic placeholder image" style="max-width: 50px;")
  //-             .media-body.lh-1
  //-               a.color-1(href="#")
  //-                 h6.mb-0 Mike Ross
  //-                 span.fs--1.color-5 May 23 · 6 min read
  //-       .card.mb-5.mb-md-0
  //-         a.overflow-hidden(href="#")
  //-           img.card-img-top(src="assets/images/careers-header.jpg" alt="Card image cap")
  //-         .card-block
  //-           a.color-1(href="#")
  //-             h5.card-title Functionality vs Emotions in Mobile Interface
  //-           p.card-text.color-4.fw-300.font-1
  //-             | It is packed with tremendous amount of well designed elements and detailed documentation of each of them.
  //-         .card-footer.background-transparent.border-top-0
  //-           .media.align-items-center
  //-             img.d-flex.mr-3.rounded-circle(src="assets/images/portraits/square/03.jpg" alt="Generic placeholder image" style="max-width: 50px;")
  //-             .media-body.lh-1
  //-               a.color-1(href="#")
  //-                 h6.mb-0 Alice Merriweather
  //-                 span.fs--1.color-5 May 23 · 15 min read
  //-       .card
  //-         a.overflow-hidden(href="#")
  //-           img.card-img-top(src="assets/images/careers-2.jpg" alt="Card image cap")
  //-         .card-block
  //-           a.color-1(href="#")
  //-             h5.card-title How has social media shaped contemporary design?
  //-           p.card-text.color-4.fw-300.font-1
  //-             | A multiverse template with modularity at core that gives you the power to make sites in no time with minimum coding.
  //-         .card-footer.background-transparent.border-top-0
  //-           .media.align-items-center
  //-             img.d-flex.mr-3.rounded-circle(src="assets/images/portraits/square/04.jpg" alt="Generic placeholder image" style="max-width: 50px;")
  //-             .media-body.lh-1
  //-               a.color-1(href="#")
  //-                 h6.mb-0 Selena Rouse
  //-                 span.fs--1.color-5 May 23 · 4 min read
  //-     // /.row
  //-   // /.container

  section.text-center.font-1.color-white.py-0
    .background-holder.overlay.overlay-1(style="background-image:url(/images/siteImages/conference-room.jpg);")  
    // /.background-holder
    .container-fluid
      .row.justify-content-center
        .col-lg-8.col-xl-6.py-8
          h3.mb-3 Let's get started
          p.lead
            | Click on the button to contact me and we can get started together on your next great project
          a.btn.btn-primary.mt-3(href='/contact') Contact Me
      // /.row
    // /.container

