extends layout

block content
  section.font-1.py-0.home-header
    .container
      .row.align-items-end.overflow-hidden
        .col.text-center.pt-8
          h6.ls.text-uppercase.mb-5
            strong Bo Slott .online
          h2.fw-300
            | Creating
            span.color-primary
              br.hidden-sm-up
              span.typed-text.fw-400(data-typed-text='[" beautiful"," gorgeous"," outstanding"," remarkable"," stunning"]')
            br.hidden-sm-up
            |  websites
          p.mt-1.lead.color-5
            strong.text-gray-dark Working together to create really cool sites 
          .p-5
          //- a.btn.btn-primary.btn-sm.mt-5(href='/portfolio') Check Some Out
          br
          .fs--1.mt-2
          .m-5
            
          //- img.mt-5.mt-sm-3.mt-md-0(src='/images/poshImages/showcase-01.jpg')
      // /.row
    // /.container
  section#home-demos.font-1.text-center.background-1.py-6.py-xl-9
    .container
      .row.justify-content-center
        .col-xl-9.col-lg-10
          .fs-2.color-7.fw-300
            | No matter the task, I am up for it — and even more! I love to code and I love new challenges. Let's work together to bring your needs to fruition, no matter the size or scope of the project.
          hr.short.color-7.mt-6.mb-5
      // /.row
    // /.container
  
    //- .container-fluid
    //-   .row
    //-     .col-lg-6.px-5.py-3
    //-       hr.color-danger
    //-       .fs-3 Optimized for every screen size down to a single pixel.
    //-     .col-lg-6.px-5.py-3
    //-       hr.color-danger
    //-       .fs-3 The most modular layout system on the planet.
    //-     .col-lg-6.px-5.py-3
    //-       hr.color-danger
    //-       .fs-3 More powerful than most HTML5 templates.
    //-     .col-lg-6.px-5.py-3
    //-       hr.color-danger
    //-       .fs-3 Bootstrap 4 takes POSH to a whole new level.
    //-   // /.row
    //- // /.container
  section.text-center.font-1.py-0
    .container
      .row.justify-content-center
        .col-lg-8.col-xl-8.py-8
          hr.short.color-7.mb-6
          p.lead.color-1 Want to make some magic? Work with me today!
          a.btn.btn-outline-primary.mt-3(href='/contact') Contact Me!
    // /.row
  // /.container


