doctype html
html(lang='en-US')
  include includes/siteHead
  
  body
    main.content
      include includes/siteNav

      block content
    
      include includes/siteFooter

    include includes/siteScripts