extends adminLayout

include mixins/_newUserRegistrationForm

block content
  // Page Header
  header.page-header
    .container-fluid
      if !peep
        h2.no-margin-bottom  New User Registration
      else
        h2.no-margin-bottom Edit User Info
  section.portfolio-admin-options.mt-0
    .container-fluid
      .row.flashes.d-flex.justify-content-center
        if locals.flashes 
          .row
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;

      .row
        .col-sm-10.offset-sm-1.portfolio-admin-body
          +newUserRegistrationForm(peep)