extends layout

block content
  section
    .container
      .row.justify-content-center
        .col-xl-8.text-center
          h1.fs-3.mb-3.fw-400 Service You Can Count On 
          p.color-7.lead.font-1.mb-6
            | My goal is always to work together to produce the best products, in an effiencient and timely manner, utilizing the best technologies for the project.
      .row.font-1
        .col-lg-4.text-center.text-lg-left.mb-5.mb-lg-0
          img(src="/images/siteImages/website-whiteboard.jpg" alt='Bo Slott Web Developer knowledeable' width='400')
          h5.mb-0.mt-4 Knowledgebale
          p.lead.color-4 Always adding new technologies
          p.color-6.fs--1
            | Though originally trainied in the MERN stack (MongoDB - Express - React - Node), I'm always learning new technologies to bring to the table
        .col-lg-4.text-center.text-lg-left.mb-5.mb-lg-0
          img(src="/images/siteImages/hand-holding-cyberClock.jpg" alt='Bo Slott Web Developer Timely' width='400')
          h5.mb-0.mt-4 Timely
          p.lead.color-4 Efficient and Timely Work
          p.color-6.fs--1
            | I'm always striving to work as efficiently and timely as possible to produce the highest quality results I can.
        .col-lg-4.text-center.text-lg-left.mb-5.mb-lg-0
          img(src="/images/siteImages/webDevelopmentTeam.jpg" alt='Bo Slott Web Developer collaborative approach' width='400')
          h5.mb-0.mt-4 Collaborative Approach
          p.lead.color-4 Working together is the only way
          p.color-6.fs--1
            | I believe great results cannot be achieved without working together.
      // /.row
    // /.container
  hr.color-9
  section
    .container
      .row.justify-content-center
        .col-xl-8.text-center
          h1.fs-3.mb-3.fw-400 Technologies
          p.color-7.lead.font-1.mb-5
            | Utilizing the best technologies to produce the best results
          hr.short.color-8.mb-6
          //- img(src="/images/siteImages/laptop-cyberBG.jpg")
      .row.justify-content-center.my-6
        .col-sm-4.d-flex.justify-content-center
          img(src='/images/siteImages/technologies/javascript-logo.png' alt='Javascript' height='100')
        .col-sm-4
          img(src='/images/siteImages/technologies/react-logo.png' alt='React JS' width='300')
        .col-sm-4
          img(src='/images/siteImages/technologies/mongoDB-logo.png' alt='MongoDB' width='300')
      .row.mb-4
        .col-sm-6.d-flex.justify-content-center
          img(src='/images/siteImages/technologies/nodejs-logo.png' alt='Node JS' height='100')
        .col-sm-6.justify-content-center
          img(src='/images/siteImages/technologies/expressJS-logo.png' alt='Express JS' width='250')
      .row
        .col-sm-4.d-flex.justify-content-center
          img(src='/images/siteImages/technologies/mysql-logo.png' alt='MySQL' height='100')
        .col-sm-4.d-flex.justify-content-center
          img(src='/images/siteImages/technologies/html5-logo.png' alt='HTML 5' height='100')
        .col-sm-4.d-flex.justify-content-center
          img(src='/images/siteImages/technologies/css3-logo.png' alt='CSS 3' height='100')


  section
    .background-holder.overlay.overlay-1(style="background-image:url(/images/siteImages/conference-room.jpg);")  
    // /.background-holder
    .container
      .row.font-1.color-white
        .col
          h6.mb-2.text-uppercase.ls Let's get started
          h5 Contact me to get started on your next project
        .col-md-5.col-lg-4.mt-4.mt-md-0
          a.btn.btn-primary(href="/contact") Contact Me
      // /.row
    // /.container

